.ticket-principal {
  width: 80mm;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 10px;

}

.informacion-general-contenedor {
  text-align: center;
  font-size: 12px;
}

.informacion-general-contenedor p {
  padding: 0;
  margin: 4px;
}

.tabla-productos {
  font-size: 12px;
}

.tabla-productos table {
  width: 95%;
  margin: 0 auto;
}

.nota {
  font-size: 12px;
  text-align: center;
}

.fecha-hora {
  font-size: 12px;
  text-align: center;
}

.fecha-hora p {
  padding: 0;
  margin: 0;
}
