<h1 mat-dialog-title>Modificar producto</h1>
<div mat-dialog-content>
    <form [formGroup]="formInsertarProducto">
        <div class="row">
            <div class="col-12 col-md-6">
                <!-- Código -->
                <mat-form-field>
                    <mat-label>Código</mat-label>
                    <input type="text" matInput placeholder="Código" formControlName="codigo">
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
                <!-- Código -->
                <mat-form-field>
                    <mat-label>Marca</mat-label>
                    <input type="text" matInput placeholder="Marca" formControlName="marca">
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
                <!-- Precio -->
                <mat-form-field>
                    <mat-label>Precio</mat-label>
                    <input type="number" matInput placeholder="Precio" formControlName="precio">
                </mat-form-field>
            </div>
            <div class="col-12">
                <!-- Nombre -->
                <mat-form-field>
                    <mat-label>Descripción</mat-label>
                    <textarea matInput placeholder="Descripción del producto"
                        formControlName="descripcion"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div class="mat-dialog-actions">
    <button mat-button (click)="insertarProducto()" cdkFocusInitial>Aceptar</button>
    <button mat-button (click)="onNoClick()">Cancelar</button>
</div>

