<h1 mat-dialog-title>Modificar producto</h1>
<div mat-dialog-content>
  <form [formGroup]="formInsertarProducto">
    <div fxLayout="row wrap">
      <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
        <!-- Código -->
        <mat-form-field>
          <mat-label>Código</mat-label>
          <input
            #codigo
            type="text"
            matInput
            placeholder="Código"
            formControlName="codigo"
            (keydown)="codigoExiste($event)"
            (keyup)="filtrarProductosOnInput($event)"
            [matAutocomplete]="auto"
            cdkFocusInitial
          />
          <mat-error
            *ngIf="!!formInsertarProducto.controls['codigo'].errors && !!formInsertarProducto.controls['codigo'].errors.existingCode"
          >
            Código ya registrado
          </mat-error>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let producto of productos"
              [value]="producto.codigo"
            >
              {{ producto.codigo }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
        <!-- Código -->
        <mat-form-field>
          <mat-label>Marca</mat-label>
          <input
            #marca
            type="text"
            matInput
            placeholder="Marca"
            (keydown)="marcaOnkeyDown($event)"
            formControlName="marca"
            [matAutocomplete]="autoMarca"
            (keyup)="filtrarProductosMarcaOnInput($event)"
          />
          <mat-autocomplete autoActiveFirstOption #autoMarca="matAutocomplete">
            <mat-option
              *ngFor="let producto of productosMarca"
              [value]="producto.marca"
            >
              {{ producto.marca }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
        <!-- Precio -->
        <mat-form-field>
          <mat-label>Precio</mat-label>
          <input
            #precio
            type="number"
            matInput
            placeholder="Precio"
            (keydown)="precioOnkeyDown($event)"
            formControlName="precio"
          />
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <!-- Nombre -->
        <mat-form-field>
          <mat-label>Descripción</mat-label>
          <textarea
            #descripcion
            matInput
            placeholder="Descripción del producto"
            (keydown)="descripcionOnkeyDown($event)"
            formControlName="descripcion"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div class="mat-dialog-actions">
  <button mat-button (click)="insertarProducto()" #btnAceptar>Aceptar</button>
  <button mat-button (click)="onNoClick()" #btnCancelar>Cancelar</button>
</div>
