<mat-card>
  <mat-card-content>
    <mat-card-title>Agregar un producto</mat-card-title>
    <form [formGroup]="formInsertarProducto">
      <div class="row" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
        <div class="col-lg-6 col-md-6 col-12">
          <!-- Código -->
          <mat-form-field>
            <mat-label>Código (F2)</mat-label>
            <input
              type="text"
              matInput
              [matAutocomplete]="auto"
              placeholder="Código"
              formControlName="codigo"
              (keyup)="codigoExiste($event)"
              cdkFocusInitial
              #codigoInput
              />
            <mat-error
              *ngIf="formInsertarProducto.controls['codigo'].errors && formInsertarProducto.controls['codigo'].errors.existingCode"
              >
              Código ya registrado
            </mat-error>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let producto of productosCodigo">
                {{producto.codigo}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <!-- Código -->
          <mat-form-field>
            <mat-label>Marca</mat-label>
            <input
              type="text"
              matInput
              placeholder="Marca"
              formControlName="marca"
              (keyup)="filtrarProductosMarcaOnInput($event)"
              [matAutocomplete]="autoMarca"
              #marcaInput
              />
            <mat-autocomplete
              #autoMarca="matAutocomplete"
              autoActiveFirstOption
              >
              <mat-option
                *ngFor="let producto of productosMarca"
                [value]="producto.marca"
                >
                {{producto.marca}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <!-- Precio -->
          <mat-form-field>
            <mat-label>Precio</mat-label>
            <input
              type="number"
              matInput
              placeholder="Precio"
              formControlName="precio"
              (keyup)="precioOnEnter($event)"
              #precioInput
              />
          </mat-form-field>
        </div>
        <div fxFlex="100">
          <!-- Nombre -->
          <mat-form-field>
            <mat-label>Descripción</mat-label>
            <textarea
              matInput
              placeholder="Descripción del producto"
              formControlName="descripcion"
              (keyup)="descripcionOnEnter($event)"
              #descripcionInput
              ></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
    <button
      mat-raised-button
      color="primary"
      (click)="insertarProducto()"
      #btnAgregar
      >
      Agregar (F3)
    </button>
    <button
      mat-raised-button
      color="warn"
      style="margin-left: 10px"
      (click)="limpiarFormulario()"
      #btnLimpiar
      >
      Limpiar campos (F6)
    </button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-card-title>Prodouctos registrados</mat-card-title>
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
        />
    </mat-form-field>
    <mat-table #table [dataSource]="dataSource" matSort>
      <!-- Descripición Column -->
      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Descripición
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
      </ng-container>

      <!-- Precio Column -->
      <ng-container matColumnDef="precio">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Precio
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.precio | currency}} </mat-cell>
      </ng-container>

      <!-- Código Column -->
      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Código
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.codigo}} </mat-cell>
      </ng-container>

      <!-- Marca Column -->
      <ng-container matColumnDef="marca">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Marca
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.marca}} </mat-cell>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="basic">
            <mat-icon
              aria-label="Example icon-button with a heart icon"
              (click)="editarProductoOnClick(element)"
              >edit</mat-icon
            >
          </button>
          <button mat-icon-button color="basic">
            <mat-icon
              aria-label="Example icon-button with a heart icon"
              (click)="eliminarProducto(element.id)"
              >delete</mat-icon
            >
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator
      #paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20, 100]"
      [showFirstLastButtons]="true"
      >
    </mat-paginator>
  </mat-card-content>
</mat-card>
